/**
* * Project Name: MorseCodeTranslator
* * Description: A program written in JavaScript to be able to encode Latin alphabet into 
* *              Morse Code and decode Morse Code into its Latin alphabet equivalent.
* References: https://scoutlife.org/hobbies-projects/funstuff/575/morse-code-translator/ 
            : https://alexanderell.is/posts/writing-morse-code-games/ 
* * Author: Sarah Ann Roy
* TODO: Clear text button
* TODO: Glossary and history
* TODO: Make web app prettier
**/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
head{
    padding: 0px;
}
body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#app-title{
    font-size: 50px;
}

.nav-bar{
    background-color: #429edf94;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 20px;
    overflow: hidden;
    margin: auto;
}
#logo{
    float: left;
    height: 50px;
    width: 70px;
}
#app-title{
    float:left;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    display: inline;
    float: right;
}
nav ul li a{
    display: block;
    color: black;
    font-size: 20px;
    padding: 20px;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: #80ebff;
}
.active {
    background-color: #c0f5ff;
  }
label{
    font-size: small;
    padding-left: 10px;
}
.input-english, .input-morse, .history-paragraphs{
    padding-left: 20px;
}
#l-blue-text, #morse-text {
    color: #01B3FF;
}
#morse-text::placeholder {
    color: #01b3ff83;
}
textarea#morse-text{
    font-size: xx-large;
}
textarea#english-text{
    font-size: x-large;
}
textarea{
    height: 200px;
    width: 1000px;
    border: none;
    font-weight: bold;
    padding-left: 10px;
}
::placeholder{
    font-size: medium;
}
.icon{
    height: 45px;
    width: 45px;
    padding: 5px;
}
hr{
    border-top: 3px solid #01B3FF;
}
.bottom-part{
    text-align: center;
}
